{% extends 'base.html' %}
{% block content %}
<main role="main">
    <div class="jumbo-tron" style="background-color: #ffffff; padding-top: 100px; padding-bottom: 50px;">
        <div class="container" style="color: #212931;" >
            <h1 class="display-2"><b>Kor-History Q&A</b></h1>
            <br>
            <p>
                심층언어 모델 <b>ButterBlock MRC</b>를 이용한 한국역사 질의응답을 테스트 할 수 있는 서비스입니다.
            </p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="container">
         <hr class="hr" style="padding-top: 10px;">
    <div class="row" style="margin-bottom: 150px;">
        <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-4" style="border: #9099a8 solid 1.5px;">
                <div class="card-body" style="color: #212931" ><h4>고구려</h4></div>
                <div class="card-footer d-flex align-items-center justify-content-between" >
                    <a class="small stretched-link" style="color: #212931" href="고구려01/">View Q&A Test</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-4" style="border: #9099a8 solid 1.5px;">
                <div class="card-body" style="color: #212931" ><h4>백제</h4></div>
                <div class="card-footer d-flex align-items-center justify-content-between" >
                    <a class="small stretched-link" style="color: #212931" href="백제01/">View Q&A Test</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-4" style="border: #9099a8 solid 1.5px;">
                <div class="card-body" style="color: #212931" ><h4>신라</h4></div>
                <div class="card-footer d-flex align-items-center justify-content-between" >
                    <a class="small stretched-link" style="color: #212931" href="신라01/">View Q&A Test</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-4" style="border: #9099a8 solid 1.5px;">
                <div class="card-body" style="color: #212931" ><h4>고려</h4></div>
                <div class="card-footer d-flex align-items-center justify-content-between" >
                    <a class="small stretched-link" style="color: #212931" href="고려01/">View Q&A Test</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-4" style="border: #9099a8 solid 1.5px;">
                <div class="card-body" style="color: #212931" ><h4>조선</h4></div>
                <div class="card-footer d-flex align-items-center justify-content-between" >
                    <a class="small stretched-link" style="color: #212931" href="조선01/">View Q&A Test</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-4" style="border: #9099a8 solid 1.5px;">
                <div class="card-body" style="color: #212931" ><h4>임진왜란</h4></div>
                <div class="card-footer d-flex align-items-center justify-content-between" >
                    <a class="small stretched-link" style="color: #212931" href="임진왜란01/">View Q&A Test</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card text-black mb-4" style="border: #9099a8 solid 1.5px;">
                <div class="card-body" style="color: #212931" ><h4>일제강점기</h4></div>
                <div class="card-footer d-flex align-items-center justify-content-between" >
                    <a class="small stretched-link" style="color: #212931" href="일제강점기01/">View Q&A Test</a>
                </div>
            </div>
        </div>
     </div>
    </div>
</main>
<footer class="container" style="color: #3c424d; margin_bottom: 0px; ">
    <p>&copy;Team LUT. All rights reserved. &emsp;|&emsp; &copy;TwoBlock Ai. All rights reserved.</p>
</footer>
{% endblock %}